@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #ffff;
    font-size: 16px;
    background: #2a8eb5;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.wrapper{
    background: linear-gradient(90deg,rgba(42, 142, 181, 1) 0%, rgba(80, 181, 122, 1) 50%, rgba(196, 184, 73, 1) 100%);
    overflow-x: hidden;
}

.container{
    width: 1400px;
    margin: 0 auto;
}

header{
    padding: 50px 0;
}

header .logo,footer .blocks .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}

header nav{
    float: right;
    width: 35%;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a {
    color:#ffff
}

header nav ul li.active::after{
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background: #1ca68d;
    border-radius: 5px;
    position: relative; 
    top: 5px;
    right: 10px;
}

header nav ul li:not(.active):not(.btn) a:hover{
    color: #1d9680;
    transition: all 650ms ease;
}

header nav ul li.btn a, .email .block button{
    background: #4dbd6d;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 700ms ease;
}

header nav ul li.btn a:hover, .email .block button:hover{
    background: #b1db7b;
}

.hero{
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}

.hero--info{
    width: 530px;
    padding-top: 70px;
}

.hero--info h2{
    color: #b1a8e2d0;
    font-size: 20px;
    font-weight: 600;
}

.hero--info h1{
    font-size: 30px;
    font-weight: 600;
}

.hero--info p{
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}

.hero--info .btn,.hero-about .info .btn{
    background: #87CEFA;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 18px;
}

.hero--info .btn:hover, .hero-about .info .btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.hero img{
    position: absolute;
    top: 10px;
    right: 0;
    border-radius: 1000px;
}

.trending{
    padding-top: 50px;
}
.trending h3{
    font-weight: 600;
    font-size: 31px;
}

.trending .see-all, .projects .see-all{
    color:#fff;
    background: #26969e;
    border-radius: 8px;
    padding:12px 23px;
    float:none;
    width: 100px;
    text-align: center;
    margin: 0  auto;
    display: block;
    transition: all 500ms ease;
}

.trending .see-all:hover,.projects .see-all:hover{
    transform: scale(1.1);
}

.trending .games{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .games span{
    display: block;
    text-align: center;
    margin-top: 20px;
}

.trending .games img{
    border-radius: 5px;
}

.trending .games span img{
    position: relative;
    top: 5px;
    margin-right: 7px;
}

.big-text{
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 800px;
}

.banner{
    padding: 80px 0;
}

.banner h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

.banner p{
    line-height: 170%;
    margin-bottom: 30px;
    width: 550px;
}

.banner img{
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.features{
    background: url('/img/catfon.avif') no-repeat center center fixed;
    background-size: cover;
    padding: 80px;
}

.features h3, .features p{
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features h3{
    font-size: 30px;
}

.features .info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block{
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .info .block img{
    margin-bottom: 15px;
}

.projects{
    padding: 100px 0;
}

.projects h3{
    font-size: 30px;
    text-align: center;
}

.projects p{
    margin: 40px 0;
       text-align: center;
}

.projects .images{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
#hiddenImage {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-in-out;
    max-width: 500px;
    pointer-events: none;
}
        
#hiddenImage.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.projects.see-all{
    float: none;
    width: 100px;
    text-align: center;
    margin: 0 auto;
}

.see-all.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
}

.email{
    padding-bottom: 120px;
}

.email h3{
    margin-top: 60px;
    font-size: 30px;
}

.email .block{
    background: #a3c261;
    margin-top: 30px;
    border-radius: 15px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email .block h4{
    font-size: 30px;
    font-weight: 600;
}

.email .block p{
    width: 500px;
}

.email .block input{
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 10px;
    width: 380px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    padding: 15px 15px;
    position: relative;
    left: 120px;
    z-index: 1;
    padding-right: 130px;
}

.email .block input::placeholder{
    color:rgba(214, 199, 178, 0.795)
}

.email .block button{
    cursor: pointer;
    border: 0;
    padding: 13px 17px;
    position: relative;
    z-index: 2;
    color: #fff;
}

.hero-about{
    position: relative;
}

.hero-about .info{
    width: 700px;
    padding: 250px 0;
}
.hero-about .info h1{
    margin-bottom: 10px;
    font-size: 30px;
}
.hero-about .info p{
    font-size: 20px;
}

.hero-about .info .btn{
    margin-top: 50px;
}

.hero-about img{
    position: absolute;
    right: -150px;
    top: 0;
    border-radius: 100px;
}

.work{
    padding: 50px 0;
}

.work h2{
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;
}

.work .blocks{
    display: flex;
    justify-content: space-between;
}

.work .blocks .block{
    width: 19%;
    border-radius: 10px;
    padding: 50px 35px;
    background: cornflowerblue;
}

.work .blocks .block h3{
    font-size: 20px;
    margin: 20px 0;
}

.work .blocks .block .badge{
    border-radius: 7px;
    padding: 7px;
}

.work .blocks .block .badge.purple{
    background: #9d35de;
}

.work .blocks .block .badge.red{
    background: #f0374d;
}

.work .blocks .block .badge.green{
    background: #17b05e;
}

.work .blocks .block .badge.purples{
    background: #7B68EE;
}

.hero-contacts h1{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 33px;
}

.hero-contacts p{
    text-align: center;
}

.hero-contacts img{
    width: 75%;
    margin: 80px 15%;
}

.feedback{
    padding: 70px;
    background: #3b79b3;
}

.feedback h2{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

.feedback p{
    text-align: center;
    margin-top: 10px;
}

.feedback form{
    margin: 80px auto;
    width: 600px;
}

.feedback form .inline{
    display: flex;
    justify-content: space-between;
}

.feedback form .inline > div{
    width: 50%;
}

.feedback form label{
    color: #48add9;
    font-size: 14px;
}

.feedback form input,.feedback form textarea{
    background: #3463d9;
    border-radius: 10px;
    border: 0,6px solid #6383d4; 
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 20px;
}

.feedback form .one-line{
    width: 95%;
}

.feedback form textarea{
    resize: none;
    height: 200px;
}

.feedback form button{
    background: #6383d4;
    border-radius: 10px;
    border: 0;
    float: right;
    cursor: pointer;
    color: #fff;
    padding: 15px 35px;
    transition: all 500ms ease;
}

.feedback form button:hover{
    background: #87CEFA;
}

footer{
    background: #1297a1;
    padding: 50px 0;
}


footer .blocks{
    display: flex;
    justify-content: space-between;
}

footer .blocks p{
    width: 300px;
    margin: 15px 0;
}

footer .blocks h4{
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul{
    list-style: none;
}

footer .blocks ul li{
    margin-top: 7px;
    opacity: 0.8;
}

footer hr{
    margin: 30px 0;
    border: 1;
    height: 4,6px;
    background: #fff;
    color: #fff;
}

footer > p{
    text-align: center;
}